@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-roboto: var(--font-roboto);

  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-primary: var(--primary-40);
  --color-on-primary: var(--primary-99);
  --color-primary-container: var(--primary-90);
  --color-on-primary-container: var(--primary-30);
  --color-primary-fixed: var(--primary-90);
  --color-primary-fixed-dim: var(--primary-80);
  --color-on-primary-fixed: var(--primary-10);
  --color-on-primary-fixed-variant: var(--primary-30);

  --color-secondary: var(--secondary-40);
  --color-on-secondary: var(--secondary-99);
  --color-secondary-container: var(--secondary-90);
  --color-on-secondary-container: var(--secondary-30);
  --color-secondary-fixed: var(--secondary-90);
  --color-secondary-fixed-dim: var(--secondary-80);
  --color-on-secondary-fixed: var(--secondary-10);
  --color-on-secondary-fixed-variant: var(--secondary-30);

  --color-tertiary: var(--tertiary-40);
  --color-on-tertiary: var(--tertiary-99);
  --color-tertiary-container: var(--tertiary-90);
  --color-on-tertiary-container: var(--tertiary-30);
  --color-tertiary-fixed: var(--tertiary-90);
  --color-tertiary-fixed-dim: var(--tertiary-80);
  --color-on-tertiary-fixed: var(--tertiary-10);
  --color-on-tertiary-fixed-variant: var(--tertiary-30);

  --color-error: var(--error-40);
  --color-on-error: var(--error-99);
  --color-error-container: var(--error-90);
  --color-on-error-container: var(--error-30);

  --color-on-surface: var(--custom-neutral-10);
  --color-on-surface-variant: var(--custom-neutral-variant-30);
  --color-outline: var(--custom-neutral-variant-50);
  --color-outline-variant: var(--custom-neutral-variant-80);
  --color-inverse-surface: var(--custom-neutral-20);
  --color-inverse-on-surface: var(--custom-neutral-95);
  --color-inverse-primary: var(--primary-80);

  --color-custom-neutral-70: var(--custom-neutral-70);
  --color-custom-error-95: var(--error-95);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --warning: #e8b931;
  --danger: #ec221f;

  --primary-10: #21005d;
  --primary-20: #381e72;
  --primary-30: #4f378b;
  --primary-40: #6750a4;
  --primary-50: #7f67be;
  --primary-60: #9a82db;
  --primary-70: #b69df8;
  --primary-80: #d0bcff;
  --primary-90: #eaddff;
  --primary-95: #f6edff;
  --primary-99: #fffbfe;

  --secondary-10: #1d192b;
  --secondary-20: #332d41;
  --secondary-30: #4a4458;
  --secondary-40: #625b71;
  --secondary-50: #7a7289;
  --secondary-60: #958da5;
  --secondary-70: #b0a7c0;
  --secondary-80: #ccc2dc;
  --secondary-90: #e8def8;
  --secondary-95: #f6edff;
  --secondary-99: #fffbfe;

  --tertiary-10: #31111d;
  --tertiary-20: #492532;
  --tertiary-30: #633b48;
  --tertiary-40: #7d5260;
  --tertiary-50: #986977;
  --tertiary-60: #b58392;
  --tertiary-70: #d29dac;
  --tertiary-80: #efb8c8;
  --tertiary-90: #ffd8e4;
  --tertiary-95: #ffecf1;
  --tertiary-99: #fffbfa;

  --error-10: #410e0b;
  --error-20: #601410;
  --error-30: #8c1d18;
  --error-40: #b3261e;
  --error-50: #dc362e;
  --error-60: #e46962;
  --error-70: #ec928e;
  --error-80: #f2b8b5;
  --error-90: #f9dedc;
  --error-95: #fceeee;
  --error-99: #fffbf9;

  --custom-neutral-10: #1d1b20;
  --custom-neutral-20: #322f35;
  --custom-neutral-30: #48464c;
  --custom-neutral-40: #605d64;
  --custom-neutral-50: #79767d;
  --custom-neutral-60: #938f96;
  --custom-neutral-70: #aea9b1;
  --custom-neutral-80: #cac5cd;
  --custom-neutral-90: #e6e0e9;
  --custom-neutral-95: #f5eff7;
  --custom-neutral-99: #fffbff;

  --custom-neutral-variant-10: #1d1a22;
  --custom-neutral-variant-20: #322f37;
  --custom-neutral-variant-30: #49454f;
  --custom-neutral-variant-40: #605d66;
  --custom-neutral-variant-50: #79747e; /** border color **/
  --custom-neutral-variant-60: #938f99;
  --custom-neutral-variant-70: #aea9b4;
  --custom-neutral-variant-80: #cac4d0;
  --custom-neutral-variant-90: #e7e0ec;
  --custom-neutral-variant-95: #f5eefa;
  --custom-neutral-variant-99: #fffbfe;

  --border: #79747e;

  /* SHADCN/UI */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  body {
    @apply antialiased bg-white font-roboto;
  }
  h1 {
    @apply font-medium text-3xl leading-tight tracking-normal mx-auto text-center md:text-6xl text-on-surface;
  }
  h2 {
    @apply text-center font-medium text-4xl leading-tight tracking-normal  text-on-surface;
  }
  h3 {
    @apply text-center font-medium text-xl leading-8 tracking-normal text-on-surface;
  }
  h6 {
    @apply text-center font-bold text-sm leading-5 tracking-tight;
  }
  p {
    @apply text-center font-normal text-base leading-6 tracking-wide text-on-surface;
  }
  .section {
    @apply py-8 lg:py-24;
  }
  .section-label {
    @apply text-error;
  }
  .section-title {
    @apply mt-8 mb-4;
  }
  .section-description {
    @apply mb-8 lg:mb-16;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .bg-gradient {
    @apply bg-linear-to-l from-[#FF77D7] to-[#FA6C12];
  }
  .container-sm {
    @apply mx-auto max-w-186;
  }
  .container-md {
    @apply mx-auto max-w-280;
  }
  .container-lg {
    @apply mx-auto max-w-360;
  }
  .gap-lg {
    @apply gap-12;
  }

  /** PRIMARY **/

  /* PRIMARY DISPLAY  */
  .display-large-primary {
    @apply font-normal text-6xl leading-tight tracking-tight;
  }

  .display-medium-primary {
    @apply font-normal text-5xl leading-tight tracking-normal;
  }

  .display-small-primary {
    @apply font-normal text-4xl leading-tight tracking-normal;
  }

  /* PRIMARY HEADLINE */

  .headline-large-primary {
    @apply font-normal text-3xl leading-tight tracking-normal;
  }

  .headline-medium-primary {
    @apply font-normal text-2xl leading-9 tracking-normal;
  }

  .headline-small-primary {
    @apply font-normal text-xl leading-8 tracking-normal;
  }

  /* PRIMARY TITLE */

  .title-large-primary {
    @apply font-normal text-lg leading-7 tracking-normal;
  }

  .title-medium-primary {
    @apply font-medium text-base leading-6 tracking-tight;
  }

  .title-small-primary {
    @apply font-medium text-sm leading-5 tracking-tight;
  }

  /* PRIMARY LABEL */

  .label-large-primary {
    @apply font-medium text-sm leading-5 tracking-tight;
  }

  .label-medium-primary {
    @apply font-medium text-xs leading-4 tracking-wide;
  }

  .label-small-primary {
    @apply font-medium text-xs leading-4 tracking-wide;
  }

  /* PRIMARY BODY */

  .body-large-primary {
    @apply font-normal text-base leading-6 tracking-wide;
  }

  .body-medium-primary {
    @apply font-normal text-sm leading-5 tracking-normal;
  }

  .body-small-primary {
    @apply font-normal text-xs leading-4 tracking-normal;
  }

  /** EMPHASIZED **/

  /* EMPHASIZED DISPLAY */

  .display-large-emphasized {
    @apply font-medium text-6xl leading-tight tracking-normal;
  }

  .display-medium-emphasized {
    @apply font-medium text-5xl leading-tight tracking-normal;
  }

  .display-small-emphasized {
    @apply font-medium text-4xl leading-tight tracking-normal;
  }

  /* EMPHASIZED HEADLINE */

  .headline-large-emphasized {
    @apply font-medium text-3xl leading-tight tracking-normal;
  }

  .headline-medium-emphasized {
    @apply font-medium leading-9 text-2xl tracking-normal;
  }

  .headline-small-emphasized {
    @apply font-medium text-xl leading-8 tracking-normal;
  }

  /* EMPHASIZED TITLE */

  .title-large-emphasized {
    @apply font-medium text-lg leading-7 tracking-normal;
  }

  .title-medium-emphasized {
    @apply font-bold text-base leading-6 tracking-tight;
  }

  .title-small-emphasized {
    @apply font-bold text-sm leading-5 tracking-tight;
  }

  /* EMPHASIZED LABEL */

  .label-large-emphasized {
    @apply font-bold text-sm leading-5 tracking-tight;
  }

  .label-medium-emphasized {
    @apply font-bold text-xs leading-4 tracking-wide;
  }

  .label-small-emphasized {
    @apply font-bold text-xs leading-4 tracking-wide;
  }

  /* EMPHASIZED BODY */

  .body-large-emphasized {
    @apply font-medium text-base leading-6 tracking-wide;
  }

  .body-medium-emphasized {
    @apply font-medium text-sm leading-5 tracking-normal;
  }

  .body-small-emphasized {
    @apply font-medium text-xs leading-4 tracking-normal;
  }
}
