@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-roboto: var(--font-roboto);

  --color-primary-10: var(--primary-10);
  --color-primary-20: var(--primary-20);
  --color-primary-30: var(--primary-30);
  --color-primary-40: var(--primary-40);
  --color-primary-50: var(--primary-50);
  --color-primary-60: var(--primary-60);
  --color-primary-70: var(--primary-70);
  --color-primary-80: var(--primary-80);
  --color-primary-90: var(--primary-90);
  --color-primary-95: var(--primary-95);
  --color-primary-99: var(--primary-99);

  --color-secondary-10: var(--secondary-10);
  --color-secondary-20: var(--secondary-20);
  --color-secondary-30: var(--secondary-30);
  --color-secondary-40: var(--secondary-40);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-60: var(--secondary-60);
  --color-secondary-70: var(--secondary-70);
  --color-secondary-80: var(--secondary-80);
  --color-secondary-90: var(--secondary-90);
  --color-secondary-95: var(--secondary-95);
  --color-secondary-99: var(--secondary-99);

  --color-tertiary-10: var(--tertiary-10);
  --color-tertiary-20: var(--tertiary-20);
  --color-tertiary-30: var(--tertiary-30);
  --color-tertiary-40: var(--tertiary-40);
  --color-tertiary-50: var(--tertiary-50);
  --color-tertiary-60: var(--tertiary-60);
  --color-tertiary-70: var(--tertiary-70);
  --color-tertiary-80: var(--tertiary-80);
  --color-tertiary-90: var(--tertiary-90);
  --color-tertiary-95: var(--tertiary-95);
  --color-tertiary-99: var(--tertiary-99);

  --color-error-10: var(--error-10);
  --color-error-20: var(--error-20);
  --color-error-30: var(--error-30);
  --color-error-40: var(--error-40);
  --color-error-50: var(--error-50);
  --color-error-60: var(--error-60);
  --color-error-70: var(--error-70);
  --color-error-80: var(--error-80);
  --color-error-90: var(--error-90);
  --color-error-95: var(--error-95);
  --color-error-99: var(--error-99);

  --color-neutral-10: var(--custom-neutral-10);
  --color-neutral-20: var(--custom-neutral-20);
  --color-neutral-30: var(--custom-neutral-30);
  --color-neutral-40: var(--custom-neutral-40);
  --color-neutral-50: var(--custom-neutral-50);
  --color-neutral-60: var(--custom-neutral-60);
  --color-neutral-70: var(--custom-neutral-70);
  --color-neutral-80: var(--custom-neutral-80);
  --color-neutral-90: var(--custom-neutral-90);
  --color-neutral-95: var(--custom-neutral-95);
  --color-neutral-99: var(--custom-neutral-99);

  --color-neutral-variant-10: var(--custom-neutral-variant-10);
  --color-neutral-variant-20: var(--custom-neutral-variant-20);
  --color-neutral-variant-30: var(--custom-neutral-variant-30);
  --color-neutral-variant-40: var(--custom-neutral-variant-40);
  --color-neutral-variant-50: var(--custom-neutral-variant-50);
  --color-neutral-variant-60: var(--custom-neutral-variant-60);
  --color-neutral-variant-70: var(--custom-neutral-variant-70);
  --color-neutral-variant-80: var(--custom-neutral-variant-80);
  --color-neutral-variant-90: var(--custom-neutral-variant-90);
  --color-neutral-variant-95: var(--custom-neutral-variant-95);
  --color-neutral-variant-99: var(--custom-neutral-variant-99);
}

:root {
  --primary-10: #21005d;
  --primary-20: #381e72;
  --primary-30: #4f378b;
  --primary-40: #6750a4;
  --primary-50: #7f67be;
  --primary-60: #9a82db;
  --primary-70: #b69df8;
  --primary-80: #d0bcff;
  --primary-90: #eaddff;
  --primary-95: #f6edff;
  --primary-99: #fffbfe;

  --secondary-10: #1d192b;
  --secondary-20: #332d41;
  --secondary-30: #4a4458;
  --secondary-40: #625b71;
  --secondary-50: #7a7289;
  --secondary-60: #958da5;
  --secondary-70: #b0a7c0;
  --secondary-80: #ccc2dc;
  --secondary-90: #e8def8;
  --secondary-95: #f6edff;
  --secondary-99: #fffbfe;

  --tertiary-10: #31111d;
  --tertiary-20: #492532;
  --tertiary-30: #633b48;
  --tertiary-40: #7d5260;
  --tertiary-50: #986977;
  --tertiary-60: #b58392;
  --tertiary-70: #d29dac;
  --tertiary-80: #efb8c8;
  --tertiary-90: #ffd8e4;
  --tertiary-95: #ffecf1;
  --tertiary-99: #fffbfa;

  --error-10: #410e0b;
  --error-20: #601410;
  --error-30: #8c1d18;
  --error-40: #b3261e;
  --error-50: #dc362e;
  --error-60: #e46962;
  --error-70: #ec928e;
  --error-80: #f2b8b5;
  --error-90: #f9dedc;
  --error-95: #fceeee;
  --error-99: #fffbf9;

  --custom-neutral-10: #1d1b20;
  --custom-neutral-20: #322f35;
  --custom-neutral-30: #48464c;
  --custom-neutral-40: #605d64;
  --custom-neutral-50: #79767d;
  --custom-neutral-60: #938f96;
  --custom-neutral-70: #aea9b1;
  --custom-neutral-80: #cac5cd;
  --custom-neutral-90: #e6e0e9;
  --custom-neutral-95: #f5eff7;
  --custom-neutral-99: #fffbff;

  --custom-neutral-variant-10: #1d1a22;
  --custom-neutral-variant-20: #322f37;
  --custom-neutral-variant-30: #49454f;
  --custom-neutral-variant-40: #605d66;
  --custom-neutral-variant-50: #79747e;
  --custom-neutral-variant-60: #938f99;
  --custom-neutral-variant-70: #aea9b4;
  --custom-neutral-variant-80: #cac4d0;
  --custom-neutral-variant-90: #e7e0ec;
  --custom-neutral-variant-95: #f5eefa;
  --custom-neutral-variant-99: #fffbfe;
}

@layer base {
  body {
    @apply antialiased bg-white font-roboto;
  }
  /** PRIMARY **/

  /* PRIMARY DISPLAY  */

  .display-large-primary {
    @apply font-normal text-6xl leading-tight tracking-tight;
  }

  .display-medium-primary {
    @apply font-normal text-5xl leading-tight tracking-normal;
  }

  .display-small-primary {
    @apply font-normal text-4xl leading-tight tracking-normal;
  }

  /* PRIMARY HEADLINE */

  .headline-large-primary {
    @apply font-normal text-3xl leading-tight tracking-normal;
  }

  .headline-medium-primary {
    @apply font-normal text-2xl leading-9 tracking-normal;
  }

  .headline-small-primary {
    @apply font-normal text-xl leading-8 tracking-normal;
  }

  /* PRIMARY TITLE */

  .title-large-primary {
    @apply font-normal text-lg leading-7 tracking-normal;
  }

  .title-medium-primary {
    @apply font-medium text-base leading-6 tracking-tight;
  }

  .title-small-primary {
    @apply font-medium text-sm leading-5 tracking-tight;
  }

  /* PRIMARY LABEL */

  .label-large-primary {
    @apply font-medium text-sm leading-5 tracking-tight;
  }

  .label-medium-primary {
    @apply font-medium text-xs leading-4 tracking-wide;
  }

  .label-small-primary {
    @apply font-medium text-xs leading-4 tracking-wide;
  }

  /* PRIMARY BODY */

  .body-large-primary {
    @apply font-normal text-base leading-6 tracking-wide;
  }

  .body-medium-primary {
    @apply font-normal text-sm leading-5 tracking-normal;
  }

  .body-small-primary {
    @apply font-normal text-xs leading-4 tracking-normal;
  }

  /** EMPHASIZED **/

  /* EMPHASIZED DISPLAY */

  .display-large-emphasized {
    @apply font-medium text-6xl leading-tight tracking-normal;
  }

  .display-medium-emphasized {
    @apply font-medium text-5xl leading-tight tracking-normal;
  }

  .display-small-emphasized {
    @apply font-medium text-4xl leading-tight tracking-normal;
  }

  /* EMPHASIZED HEADLINE */

  .headline-large-emphasized {
    @apply font-medium text-3xl leading-tight tracking-normal;
  }

  .headline-medium-emphasized {
    @apply font-medium leading-9 text-2xl tracking-normal;
  }

  .headline-small-emphasized {
    @apply font-medium text-xl leading-8 tracking-normal;
  }

  /* EMPHASIZED TITLE */

  .title-large-emphasized {
    @apply font-medium text-lg leading-7 tracking-normal;
  }

  .title-medium-emphasized {
    @apply font-bold text-base leading-6 tracking-tight;
  }

  .title-small-emphasized {
    @apply font-bold text-sm leading-5 tracking-tight;
  }

  /* EMPHASIZED LABEL */

  .label-large-emphasized {
    @apply font-bold text-sm leading-5 tracking-tight;
  }

  .label-medium-emphasized {
    @apply font-bold text-xs leading-4 tracking-wide;
  }

  .label-small-emphasized {
    @apply font-bold text-xs leading-4 tracking-wide;
  }

  /* EMPHASIZED BODY */

  .body-large-emphasized {
    @apply font-medium text-base leading-6 tracking-wide;
  }

  .body-medium-emphasized {
    @apply font-medium text-sm leading-5 tracking-normal;
  }

  .body-small-emphasized {
    @apply font-medium text-xs leading-4 tracking-normal;
  }
}
